<h1>Pathfinder <br>Random Encounter <br>Generator</h1>

<%= form_tag({controller: "encounters", action: "new"}, method: :get, class: "e_gen") do %>

    <%= label_tag(:pcs, "Number of PCs:") %>
    <%= select_tag(:pcs, options_for_select(1..10)) %><br><br>

    <%= label_tag(:lvl, "Level Average:") %>
    <%= select_tag(:lvl, options_for_select(1..20)) %><br><br>

    <%= label_tag(:plane_id, "Plane:") %>
    <%= select_tag(:plane_id, options_from_collection_for_select(Plane.all, :id, :name)) %><br><br>

    <%= label_tag(:climate_id, "Climate:") %>
    <%= select_tag(:climate_id, options_from_collection_for_select(Climate.all, :id, :name)) %><br><br>

    <%= label_tag(:terrain_id, "Terrain:") %>
    <%= select_tag(:terrain_id, options_from_collection_for_select(Terrain.all, :id, :name)) %><br><br>

    <%= submit_tag("Generate Encounter!") %>

<% end %>
