<h1>Welcome to my RPG Random Encounter Generator!</h1>
<p>I solemnly swear that I will be up to no good in no time.</p>

<!--
<h2>Encounter Parameters:</h2>
<p># of PCs:
  <select id="user_input_number_of_PCs">
    <option value="one_PC">1</option><option value="two_PCs">2</option>
    <option value="three_PCs">3</option><option value="four_PCs">4</option>
    <option value="five_PCs">5</option><option value="six_PCs">6</option>
    <option value="seven_PCs">7</option><option value="eight_PCs">8</option>
    <option value="nine_PCs">9</option><option value="ten_PCs">10</option>
  </select>
</p>
<p>Level:
  <select id="user_input_level">
    <option value="level_one">1</option><option value="level_two">2</option>
    <option value="level_three">3</option><option value="level_four">4</option>
    <option value="level_five">5</option><option value="level_six">6</option>
    <option value="level_seven">7</option><option value="level_eight">8</option>
    <option value="level_nine">9</option><option value="level_ten">10</option>
    <option value="level_eleven">11</option><option value="level_twelve">12</option>
    <option value="level_thirteen">13</option><option value="level_fourteen">14</option>
    <option value="level_fifteen">15</option><option value="level_sixteen">16</option>
    <option value="level_seventeen">17</option><option value="level_eighteen">18</option>
    <option value="level_nineteen">19</option><option value="level_twenty">20</option>
  </select>
</p>
<p>Plane:
  <select id="user_input_plane">
    <option value="plane_material">Material Plane</option><option value="plane_other">Outer/Elemental Plane</option>
  </select>
</p>

<p>Climate:
  <select id="user_input_climate">
    <option value="climate_cold">Cold</option><option value="climate_temperate">Temperate</option>
    <option value="climate_warm">Warm</option><option value="climate_tropical">Tropical</option>
    <option value="climate_hot">Hot</option>
  </select>
</p>
<p>Terrain:
  <select id="user_input_terrain">
    <option value="terrain_aquatic">Aquatic</option>
    <option value="terrain_desert">Deserts</option>
    <option value="terrain_forest">Forests</option>
    <option value="terrain_glacier">Glaciers</option>
    <option value="terrain_hill">Hills</option>
    <option value="terrain_mountain">Mountains</option>
    <option value="terrain_plain">Plains</option>
    <option value="terrain_ruin">Ruins</option>
    <option value="terrain_swamp_marsh">Swamps/Marshes</option>
    <option value="terrain_underground">Underground</option>
    <option value="terrain_urban">Urban</option>
  </select>
</p>

<button type="button">Generate Encounter!</button>
-->

<%= form_tag({controller: "encounters", action: "new"}, method: :get, class: "e_gen") do %>

    <%= label_tag(:terrain_id, "Terrain") %>
    <%= select_tag(:terrain_id, options_from_collection_for_select(Terrain.all, :id, :name)) %>

    <%= label_tag(:terrain_id, "Terrain") %>
    <%= select_tag(:terrain_id, options_from_collection_for_select(Terrain.all, :id, :name)) %>

    <%= label_tag(:terrain_id, "Terrain") %>
    <%= select_tag(:terrain_id, options_from_collection_for_select(Terrain.all, :id, :name)) %>

    <%= label_tag(:terrain_id, "Terrain") %>
    <%= select_tag(:terrain_id, options_from_collection_for_select(Terrain.all, :id, :name)) %>

    <%= submit_tag("Generate Encounter!") %>

<% end %>

  <!--saving this print link here for use when the generator is up and running-->
<!--<p>To print your encounter click here:-->
  <!--<a href="#" onclick="window.print();return false;">print me</a>-->
<!--</p>-->
